[submodule "safe"]
	path = safe
	url = https://github.com/safeapp/safe.git
[submodule "encfs"]
	path = encfs
	url = https://github.com/safeapp/encfs.git
[submodule "davfuse"]
	path = davfuse
	url = https://github.com/safeapp/davfuse.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/safeapp/protobuf.git
